body {
  background-color: #58D68D;
  text-align: center;
}

body > * {
  justify-content: center;
}

button {
  display: inline-block;
}

.selects {
  margin: 0 auto;
  transform: translateY(+100%);
  position: relative;
  z-index: 1;
}

.slider {
  margin: 0 auto;
}